body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffd8;
}
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    color: #000000;
background-color: 	#f5ffe4;
    border: #000000;
}

#container {
    background-color: #ffffd8;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0; 
    left: 15%; 
    padding: 20px; 
}

#produto, .produto {
    height: 65vh;
    float: left;
    width: 20%;
    background-color:beige;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px #333;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    text-align: center;
    margin-top: 18.5vh; 
    transition: transform 0.3s ease; 
}

#produto:hover, .produto:hover {
    transform: translateY(-5px); 
}

.ovo {
    height: 45%;
    width: 70%;
    margin: 10px 0;
}

.ovotitulo {
    font-size: 18px;
    margin: 10px 0;
}

.preco {
    font-size: 20px;
    margin: 10px 0;
}

button {
    background-color: rgb(16, 16, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: rgb(16, 16, 255)
}

.listaC {
    padding: 20px;
    margin-top: 10vh;
    height: 100vh;
    width: 25%;
    float: left;
}

#carrinho {
    display: none;
    height: 50vh;
}
@media (max-width: 768px) {
    #container {
        width: 90%; 
        left: 5%;
    }

    .produto {
        width: 45%; 
        margin-top: 10vh; 
    }
}

@media (max-width: 480px) {
    .produto {
        width: 90%;
    }

    .ovo {
        width: 100%; 
    }
}

#carrinho ul {
    list-style-type: none;
    padding: 0;
}

#carrinho li {
    margin-bottom: 10px;
    height: 95px;
    display: block;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: 18px;
}
#carrinho li img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
#total{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    
}
.comprar{
    background-color: rgb(16, 16, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; 
    align-items: center;
    margin-left: auto;
}